{% extends "./layout.html" %}

{% block title %}Photo Dup by Hash{% endblock %}

{% block content_area %}
    {% for k,v in data.items() %}
        <h3>{{ k | upper }}
            <small class="text-muted">count: {{ v | length }}</small>
        </h3>
        <hr>
        <form action="{{ request.url }}" method="post">
            <div class="form-check">
                {% for file in v %}
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="{{ file.0 }}">
                        {{ file.3 }} <a class="my-tooltip"
                                        data-toggle="tooltip"
                                        title="<img src='/file/{{ file.0 }}' width='200'>"
                    >preview</a>
                    </label><br>
                {% endfor %}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    {% endfor %}

{% endblock %}